# =============== #
# Unity folders #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/

# ===================================== #
# Standard Assets and 3d Party that should not be stored.
# ===================================== #
Assets/3rdParty/
Builds/
Assets/Standard Assets/
Assets/StoreAssets/
Assets/Database Control Free/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ===================================== #
# Unity generated #
# ===================================== #
*.pidb.meta
sysinfo.txt

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.data
